.Footer {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Links svg {
  color: white;
  margin: 20px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 90px;
  cursor: pointer;
  transition: color 0.3s ease-out, 0.3s;
}

.Links svg:hover {
  transform: scale(1.2);
  color: #E4E3E3;
}

@media only screen and (max-width: 800px) {
  .footer svg {
    font-size: 70px;
  }

  .footer {
    font-size: 20px;
    min-height: 150px;
    margin-top: 150px;
  }
}

@media only screen and (max-width: 600px) {
  .footer svg {
    font-size: 50px;
  }

  .footer {
    font-size: 15px;
  }
}