.Intro {
  height: calc(100vh - 78px);
  display: flex;
  justify-content: center;
}

.Intro h1 {
  font-size: 75px;
  font-weight: 650;
  top: 20%;
  position: relative;
}

.Skills {
  background-color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #282c34;
}

.Skills h1 {
  font-size: 60px;
  font-weight: 600;
  margin-top: 140px;
  margin-bottom: -15px;
}

.Skills h2 {
  font-size: 45px;
  font-weight: 500;
  padding: 30px;
  margin-bottom: -40px;
}

.Skills p {
  font-size: 30px;
  font-weight: 450;
  padding: 30px;
  margin-top: 0px;
}  