.NavBar {
  width: 100%;
  height: 100px;
  font-size: calc(10px + 4vmin);
}

.Headers {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8%;
}

.Headers a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  margin-top: 20px;
  transition: color 0.2s ease-out, 0.2s;
}

.Headers a:hover {
  color: #E4E3E3;
  transform: scale(1.1);
}